@font-face {
    font-family: "Old English MT";
    src: url("/src/assets/fonts/oldenglishtextmt.ttf");
}
@font-face {
    font-family: "Papyrus";
    src: url("/src/assets/fonts/papyrus.ttf");
}
@font-face {
    font-family: "Fredoka";
    src: url("/src/assets/fonts/fredoka.ttf");
}

* {
    color: inherit;
}

input {
    color: black;
}
