.new-grim label {
    padding: 5px;
    font-family: "Papyrus";
}
    
.new-grim #choices {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 50px 50px 50px;
        gap: 10px;
    }


.new-grim #script-wrapper {
    border-radius: 10px 0 0 0;
    grid-row: 1;
    grid-column: 1;
}

.new-grim #script-select {
    border: 0;
    outline: none;
    background-color: inherit;
    width: 100%;
    opacity: 0.9;
    font-family: "Papyrus";
}


.new-grim #playercount-wrapper {
    border-radius: 0;
    grid-row: 1;
    grid-column: 2;
}

.new-grim #playercount-input {
    box-sizing: border-box;
    background-color: inherit;
    font-family: "Papyrus";
    width: 100%;
    padding: 0 0 0 10px;
}


.new-grim #layout-wrapper {
    grid-row: 1;
    grid-column: 3;
    border-radius: 0 10px 0 0;
}

.new-grim #layout-select {
    border: 0;
    outline: none;
    background-color: inherit;
    width: 100%;
    opacity: 0.9;
    font-family: "Papyrus";
}


.new-grim #customscript-wrapper {
    grid-row: 2;
    grid-column: 1;
    padding: 4px 10px 4px 10px;
    border-radius: 0 0 0 10px;
}

.new-grim #customscript-url {
    max-width: 180px;
}

.new-grim #customscript-file {
    width: 180px;
}


.new-grim #submit {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0 0 10px 0;
}
