.settings input[type="color"] {
    height: 20px;
    border: none;
}

.settings label {
    padding: 5px;
    font-family: "Papyrus";
}
.settings #theme-wrapper {
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.settings #theme-select {
    width: 100%;
    border: 0;
    outline: none;
    background-color: inherit;
    opacity: 0.9;
    font-family: "Papyrus";
}
